body {
    font-family: "Mulish", sans-serif;
}

/*  header section start style */

.header-section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logu-section {
    display: flex;
    gap: 20px;
}

.nav-section {}

nav {}

nav ul {
    display: flex;

}

nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    text-transform: capitalize;
    font-size: 18px;
}





/* benner section start style */

.benner-section {
    max-width: 1200px;
    height: 500px;
    border-radius: 16px;
    background: url(../images/group-13.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.banner-secend {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 500px;
}

.benner-input {
    display: grid;
    grid-template-columns: repeat(4, 174px);
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.benner-input input {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 16px;

}

.select-cls {
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
}

.benner-section h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.benner-section p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
}






/* popular section start style */

.popur-tour-section {
    display: flex;
    padding: 50px 50px;
    gap: 50px;
    max-width: 1200px;

}

.popur-tour-section h1 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

.popur-tour-section p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popur-tour-section li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popur-tour-section button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    padding: 20px;
}





/* destination section start section */
.destination-section {
    text-align: center;
    padding: 50px 50px;
    max-width: 1200px;
}

.destination-section h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-section p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 2;
}


.destination-one {
    display: flex;
    gap: 20px;
    max-width: 1200px;
}

.destination-one img {
    width: 50%;
}

.destination-two {
    display: flex;
    gap: 20px;
    padding: 30px 0px;
}

.destination-tre {
    display: flex;
    gap: 20px;
}



/* choose section start style */

.choose-section {
    text-align: center;
    padding: 30px 50px;
    max-width: 1200px;
}

.choose-section h1 {
    color: #131318;
    text-align: l;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-section p {
    color: rgba(19, 19, 24, 0.70);
    text-align: ;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.choose-titile-design {
    display: flex;
    gap: 30px;
}

.choose-design-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
    text-align: left;
}

.choose-design-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    text-align: left;
}

.choose-title-last {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}
.choose-h-one{
    text-align: left;
}



/* discount section start style */

.discunt-section {
    padding: 30px 50px;
    text-align: center;
    max-width: 1200px;
}

.discount-one {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../images/group-39.png), lightgray 50% / cover no-repeat;
}

.discount-two {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../images/group-40.png), lightgray 50% / cover no-repeat;
}

.discount-tre {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../images/group-39.png), lightgray 50% / cover no-repeat;
}

.discount-title {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}

.discount-title h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.discount-title h2 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.discount-title p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.discount-title button {
    border-radius: 8px;
    background: #FF5400;
    width: 150px;
    height: 52px;
    border: none
}

/* packages section style start */
.packages-section {
    padding: 30px 50px;
    text-align: center;
    max-width: 1200px;
    max-width: 1200px;
}

.packages-one {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.packages-section button {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    margin-top: 2;
}

.packages-titile h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.packages-titile p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.packages-titile li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.packages-two {
    display: flex;
    gap: 20px;
    padding-top: 50px;

}

.pck-two-titile {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 47%;
}


.pck-two-titile h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.pck-two-titile p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.pck-two-titile input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    border: none;
    outline: none;
    margin-top: 16px;
}

.packages-img{
    width: 100%;
}
.packages-img img{
    width: 100%;
}

.pck-two-titile button {
    margin-top: 16px;

}

.pcg-two-img{
    width: 47%;
    height: 400px;
    background-image: url(../images/rectangle-99.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.choose-curle{
    height: 100px;
    width: 200px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    transform: rotate(-19.628deg);
    position: relative;
    top: 255px;
    left: 355px;
}





/* footer section style start */

.footer-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    max-width: 1200px;
    height: 400px;
    padding: 20px 50px;
}

.logu-title {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.line {
    width: 800px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.footer {
    width: 800px;
    margin: 0px auto;
}


/* share style all class and id */

.description-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.titile-htwo {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.footer-img-{
  margin-bottom: 50px;  
}




.hide {
    display: none;
}





/* mobile device responsive style start */

@media screen and (max-width:600px) {
    .header-section {
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
    }

    .benner-section {
        width: 100%;
        height: auto;
    }

    .benner-section h1 {
        font-size: 20px;
    }

    .benner-input {
        grid-template-columns: repeat(1, 90%);
    }

    #bnr-btn-responsive {
        width: 99%;
    }

    .nav-section {
        display: none;
    }



    .popur-tour-section {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .popular-img {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .popular-img img{
    width: 100%;
}

    /* foooter section mobile responsive style start */
    .footer-section{
       width: 100%;
       padding: 0;
    }
    .footer {
        width: 100%;
    }
    .line{
        width: 100%;
    }

    /* packages section style start */

    .packages-section{
        flex-direction: column;
    }
    .packages-one{
        flex-direction: column;
    }
    .packages-two{
        flex-direction: column;
    }
    .choose-section{
        flex-direction: column;
        width: 1;
    }
    .choose-titile-design{
        flex-direction: column;
       text-align: center;
    }
    .choose-title-last{
        width: 100%;
        padding: 0;
    }



    /* distination mobile responsive styel start */
    
    .destination-section{
    align-items: center;
    }
    .destination-one{
        flex-direction: column;
    }

    .destination-two{
        flex-direction: column;
    }

    .destination-tre{
        flex-direction: column;
    }
    .destination-one img{
        width: 100%;
    }
    .pck-two-titile{
        width: 100%;
    }
    .pck-two-titile{
        width: 100%;
    }
    .pcg-two-img{
    width: 100%;
}
.choose-curle{
    left: 0;
    width: 120px;
    left: 200px;
}
.pck-two-titile input{
    width: 95%;
}
}